*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.imagen {
    position: absolute;
    top: 48%;
    left: 28.5%;
    transform: translate(-50%, -50%);
    
}
.nome {
    position: absolute;
    margin-bottom: 0%;
    margin-top: 30px;
    margin-left: 25%;
    font-weight: 32px;
    font-family: cursive;
    font-size: 34px;
    color: rgb(255, 255, 255);
}

.redessociais {
    position: absolute;
    font-size: 30px;
    margin-top: 8%;
    margin-bottom: 20%;
    margin-right: 10%;
    margin-left: 26%;
    justify-content: center;
    align-items: center;
}

.icone, .email {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3 ease-out;
    box-shadow: 0 5px rgb(56, 2, 182);
    margin: 6px;
    overflow: hidden;
}

.icone i, .email i {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    background-color: rgb(41, 10, 107);
    color: black;
    cursor: pointer;
}

.icone span a {
    list-style: none;
    font-family:'Times New Roman', Times, serif;
    float: right;
    margin-right: 30px;
    color:rgb(247, 247, 247);
    font-size: 15px;
    line-height: 35px;
}

.icone:hover{
    width: 150px;
    background-color: rgb(60, 17, 161);
}

.parrafo{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: cursive;
    position: absolute;
    max-width: 200px;
    margin-left: 900px;
    margin-top: 90px;
    padding: 16px;
    border-radius: 30px;
    background-color: rgb(41, 10, 107);
    box-shadow: 20px 20px 20px ;

}