*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.imagen {
    position: absolute;
    top: 46%;
    left: 30%;
    transform: translate(-50%, -50%);
    
}
.nome {
    position: absolute;
    margin-bottom: 0%;
    margin-top: 100px;
    margin-left: 25%;
    font-weight: 32px;
    font-family: cursive;
    font-size: 45px;
    color: rgb(255, 255, 255);
}

.redessociais {
    display: flex;
    position: absolute;
    font-size: 30px;
    margin-top: 16%;
    margin-bottom: 20%;
    margin-right: 10%;
    margin-left: 38%;
    justify-content: center;
    align-items: center;
}

.icone, .email {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.4s ease-out;
    box-shadow: 0 5px rgb(56, 2, 182);
    margin: 6px;
    overflow: hidden;
}

.icone i, .email i {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
    color: black;
    cursor: pointer;
}
 .redessociais a{
    text-decoration: none;
 }

.icone span a {
    list-style: none;
    font-family:'Times New Roman', Times, serif;
    float: right;
    margin-right: 30px;
    color:rgb(247, 247, 247);
    font-size: 15px;
    line-height: 35px;
}

.icone:hover{
    width: 150px;
    background-color: rgb(60, 17, 161);
}

.texto{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: cursive;
    position: absolute;
    max-width: 680px;
    margin-left: 380px;
    margin-top: 420px;
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(41, 10, 107);
    box-shadow: 10px 10px 10px;
}

.sobreEnt {
    position: absolute;
    top: -25%;
    display: flex;
    color: aliceblue;
    font-family: cursive;
    text-align: center right;
    margin-left: 5px;
    font-size: 29px;
    line-height: 30px;
}

.subtitulo {
    font-family: cursive;
    font-size: 32px;
    color: aliceblue;
    position: absolute;
    margin-top: 600px;
    margin-left: 29%;
    
}
 .linguagem {
    position: absolute;
    margin-top: 640px;
    margin-left: 300px;
 }

.front img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 350px;
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
}

.back img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-left: 300px;
    margin-top: 10px;
    border-radius: 350px;
    background: #3d0690;
    color: aqua;
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
}
.subtitulo2 {
    font-family: cursive;
    font-size: 38px;
    position: flex;
    text-align: center;
    color: aliceblue;

}

.projeto {  
    position: absolute;
    margin-top: 900px;
    margin-left: 260px;
    margin-bottom: 250px;
}

.item {
    position: sticky;
    font-family: cursive;
    width: 688px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    border-radius: 450px;
    background-color: rgb(255, 255, 255);
}
.item:hover {
    transition: 0.5s;
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
}
#movie{ 
    padding: 15px;
    margin: auto;
    display: none;
}

#movie.active {
    display: block;
}

@media (max-width: 700px) {
    .imagen img{
        margin-top: -210px;
        position: absolute;
        top: -30px;
        left: -170px;
        width: 450px;
    }
    .sobreEnt {
        font-size: 15px;
        margin-top: -2px;
        margin-left: 5px;
    }
    .texto {
        margin-top: 250px;
        margin-left: 210px;
        font-size: 8px;
        width: 250px;
        height: 60px;
    }
    .nome {
        margin-top: 50px;
        margin-left: 130px;
        width: 250;
        font-weight: 32px;
        font-family: cursive;
        font-size: 25px;
    }
    .linguagem {
        margin-top: 400px;
        margin-left: 1px;
        position: absolute;
    }
    .subtitulo {
        margin-top: 370px;
        margin-left: 80px;
        font-size: 22px;
    }
    .subtitulo2 {
        position: center;
        margin-top: -320px;
        margin-left: -200px;
        font-size: 22px;
    }
    .item {
        margin-top: 50px;
        margin-left: -100px;
        width: 200px;
    }
    #movie {
        width: 200px;
    }
}








